<p>Go Back to <a href="/">Main Page</a></p>
<section>
    <img src="<%= myBooks.image_url%>" alt="">
    <h4>
        <%= myBooks.title%>
    </h4>
    <h5>
        <%= myBooks.author%>
    </h5>
    <p>
        <%= myBooks.description%>
    </p>
    <p>
        <%= myBooks.isbn%>
    </p>
</section>