<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Search</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/layout.css">

</head>

<body>
    <header>
        <%- include('./searches/header') %>
    </header>
    <main>
        <h2>Hello everyone, our website for book's searching</h2>

        <h3>You have
            <%= num %> favourite books</h3>
        <% myBooks.forEach((element,inx) => { %>
            <div>
                <img src="<%= element.image_url%>" alt="">
                <h4>
                    <%= element.title%>
                </h4>
                <h5>
                    <%= element.name%>
                </h5>
                <!-- <p><%= element.description%></p> -->
                <form action="/books/details/<%= element.id%>" method="GET">
                    <button>View Details</button>
                </form>
            </div>
            <% }) %>
    </main>
    <footer>

    </footer>

</body>

</html>